[user]
  name = Mohammed Muzammil Anwar
  email = mohammad.muzammil100@gmail.com
[credential]
  helper = store
[core]
  pager = delta "--hyperlinks --line-numbers --navigate --true-color=always"
[delta]
  side-by-side = true
